.root {
    -fx-focus-color: orange;
    -fx-border-radius: 10px;
}

.accordion-pane {
    -fx-background-color: rgb(60,60,60);
}

.combo-box .list-cell {
    -fx-background-color: rgb(20,20,20);
    -fx-background-radius: 3;
    -fx-background-insets: 3;
}

.label, .check-box, .button, .combo-box, .toggle-button, 
.slider, .combo-box .list-cell, .combo-box-popup .list-view .list-cell,
.text-field, .titled-pane {
    -fx-text-fill: white;
}

.button, .combo-box, .toggle-button, .slider, .text-field {
    -fx-border-radius: 3;
}

.button, .combo-box, .toggle-button, .slider, .titled-pane .title, .text-field {
    -fx-border-color: rgb(30,30,30) black black black;
}

.button, .combo-box, .toggle-button, /* .slider, */ .titled-pane .title {
    -fx-background-color: rgb(50,50,50), rgb(30,30,30), rgb(40,40,40) ;
    -fx-background-insets: 0 2 2 2, 2 2 0 2, 2 0 0 0;
}

.slider {
    -fx-background-color: rgb(20,20,20);
}

.button, .combo-box, .toggle-button {
    -fx-background-radius: 3;
}

.slider .track, .text-field, .scroll-bar {
    -fx-background-color: rgb(90,90,90);
}

.slider .thumb {
    -fx-background-color: rgb(192,192,192);
}

.slider .thumb:hover {
    -fx-background-color: rgb(160,160,160);
}

.combo-box-popup .list-view {
    -fx-background-color: rgb(40,40,40);
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: rgb(40,40,40);
}

.combo-box-popup .list-view .list-cell:hover,
.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: rgb(105,76,16)
}

.button:focused, .combo-box:focused, .text-field:focused {
    -fx-border-color: rgb(105,76,16);
}

.button:hover, .combo-box:hover, .titled-pane .title:hover {
    -fx-background-color: rgb(30,30,30);
    -fx-background-insets: 0;
}

.text-field {
    -fx-highlight-fill: rgb(105,76,16);
}

/*.titled-pane .title {
    -fx-border-color: transparent; 
}*/

.titled-pane .content {
    /*-fx-border-color: rgb(60,60,60);*/
    -fx-border-color: transparent black rgb(60,60,60) black;
}

.hyperlink {
    -fx-text-fill: rgb(255,128,0);
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: rgb(40,40,40);
    -fx-background-insets: 4 0 4 0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(40,40,40);
    -fx-background-insets: 0 4 0 4;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(30,30,30);
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgb(30,30,30);
}

.scroll-bar:vertical .increment-button, 
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-padding: 5;
}

.scroll-bar:horizontal .increment-button, 
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-padding: 5;
}

.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: rgb(90,90,90);
    -fx-padding: 0.25em;
    -fx-rotate: -90;
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: rgb(90,90,90);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 0;
}

.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: rgb(90,90,90);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: rgb(90,90,90);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: -180;
}